<!DOCTYPE html>
<html lang="en"> 
<head>

  <title>HPShelton{% if page.title != "" %} | {{ page.title }}{% endif %}</title>
    
  <!-- The description shown under the link on search pages, like Google. -->
  <meta name="description" content="Programming, Privacy, Politics, Photography">
  
  <!-- Identifies the Author -->
  <meta name="author" content="H. Parker Shelton" />
  
  <!-- Who owns the content -->
  <meta name="copyright" content="H. Parker Shelton" />
    
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="distribution" content="global" /> 
  <meta name="robots" content="follow, all" /> 
  <meta name="language" content="en" /> 
  
  <!-- The Favicon that displays in the browser -->
  <link rel="shortcut icon" href="/assets/images/favicon.jpg" />
  
  <!-- RSS -->
  {% feed_meta %}

  <!-- CSS -->
  <style>
    body {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
      font-size: 14px;
      line-height: 24px;
      background: rgb(51, 51, 51);
      text-rendering: optimizeLegibility;
    }
    a {
      border-width: 0px;
      text-decoration: underline;
      color: rgb(255, 255, 255); 
    }
    #header-inner h1 .p {
      color: rgb(255, 255, 255);
    }
  </style>
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
<div id="top">
  <div id="background">
    <div id="container" class="container_12">
      <div id="header-nav" class="grid_12">
        <div id="header-nav-inner" class="grid_6">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/now">Now</a></li>
            <li><a href="/feeds/atom.xml">RSS</a></li>
          </ul>
        </div>
      </div> 

      <div id="pre-header" class="clear"></div>
      <div id="header" class="grid_6 prefix_0">  
        <div id="header-inner">
          <h1><a href="/">HPSHELTON</a></h1>
          <p class="subtitle"><a href="/tagged/programming">Programming</a>, <a href="/tagged/privacy">Privacy</a>, <a href="/tagged/politics">Politics, </a><a href="/tagged/photography">Photography</a></p>
        </div>
      </div>
      <div id="post-header" class="clear"></div>

      <!-- Begin Posts -->
      <div>
      {{ content }}
      </div>

      {% unless page.title == "Now" or page.next.url contains "tagged" or page.previous.url contains "tagged" %}
      <!-- Pagination -->
      <div id="permalink-navigation" class="grid_8 mod prefix_3">
        <div class="mod-inner">          
          <p class="right grid_2">
            {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Older &rarr;</a>
            {% elsif page.previous.url %}<a href="{{ page.previous.url }}">Older &rarr;</a>
            {% elsif page.title == "Home" %}<a href="/page/2">Older &rarr;</a>{% endif %}
          </p> 
          <p class="left grid_2">
            {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">&larr; Newer</a>
            {% elsif page.next.url %}<a href="{{ page.next.url }}">&larr; Newer</a>{% endif %}
          </p>
          <p>&nbsp;</p>
        </div>
      </div>
      {% endunless %}
      
      <div class="clear"></div>
      
      <!-- Clear pre-footer -->
      <div id="pre-big-footer" class="clear"></div>
      
      <!-- Big footer -->
      <div id="big-footer">
        <div id="big-footer-inner">
            
          <div id="big-footer-section-one" class="grid_2 prefix_1">
            <div id="big-footer-elsewhere">
              <h1>Links</h1>
              <ul>
                <li><a href="/feeds/atom.xml">RSS</a></li>
                <li><a href="https://github.com/hpshelton">GitHub</a></li>
                <li><a href="https://www.tumblr.com/liked/by/hpshelton">Liked Posts</a></li>
                <li><a href="https://linkedin.com/in/hpshelton">LinkedIn</a></li>
              </ul>
            </div>
          </div>
          
          <div id="big-footer-section-two" class="grid_8">
            <div id="big-footer-bio">
              <h1>H. Parker Shelton</h1>
              <p>I'm just an ordinary thirty-something who's had some extraordinary opportunities. I graduated from Johns Hopkins University, work for Microsoft in Silicon Valley, code websites and applications, take the occasional photograph, and keep a constant eye on current events, politics, and technology. This blog is the best of what catches that eye.</p>
            </div>
          </div>
        </div>
      </div>
        
      <!-- Clear pre-footer -->
      <div id="post-big-footer" class="clear"></div>
      
      <!-- Small footer -->  
      <div id="footer">
        <div id="footer-spacer" class="grid_2 prefix_1">&nbsp;</div>
        <ul>
          <li><a href="http://creativecommons.org/licenses/by-sa/3.0/us/">&copy; 2010 &#8211; Present, H. Parker Shelton</a> (Except Where Noted)</li>
          <li>Hosted by <a href="https://pages.github.com/">GitHub Pages</a></li>
          <li>Design by <a href="http://ianhin.es" title="Theme by Ian P. Hines">Ian P. Hines</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>