---
layout: default
---
<div class="mod grid_2 prefix_1">
  <div class="sidebar mod-inner">
    <h2><a href="{{ page.permalink }}">{{ page.date | date: "%b %e, %Y" }}</a></h2>
  </div>
</div>

<div class="grid_8 mod {{page.type}}{% unless page.type == "text" %}s{% endunless %}">
  <div class="mod-inner">
    {% if page.type == "text" %}<h1><strong>{{ page.title }}</strong></h1>{% endif %}
    {% if page.type == "link" %}<h1><a href="{{ page.link }}">{{ page.title }}</a> &rarr;</h1>{% endif %}
    {{ content }}
  </div>
</div>